@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    /* box-sizing: border-box; */
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #333233;
}

body, a {
    cursor: url(../img/fusil-de-asalto.png) 0 20, auto;
}

body #encabezado .contEncabezado{
    width: 100%;
    /* height: 41rem; */
    background: radial-gradient(circle at 100% 100%, #11161a 10%,#393817,#eed00c);
}

body .contenidoEncabezado{
    width: 80%;
    margin: auto;
    color: #d9d9d9;    
}

body #encabezado .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18rem;
} 

nav {
    background: linear-gradient(to left, #11161a 12%,#393817 60%,#eed00c);
    height: 5rem;
    font-size: 1.5rem;
}

nav.bg-port ul li a {
    color: #d9d9d9;
}

nav.bg-port ul li a{
    position: relative;
}

nav.bg-port ul li a::after{
    position: absolute;
    content: " ";
    height: 4px;
    width: 20%;
    background: transparent;
    bottom: 10px;
    left: 9px;
    transition: 0.4s;
}

nav.bg-port ul li a:hover::after{
    background: #000000;
    width: 90%;
}

body #Perfil-profecional {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body .textoperfil{
    position: relative;
    background-color: #191E24;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 5rem;
    padding: 2rem;
    width: 70%;
}

body .textoperfil:hover{
    box-shadow: 10px 10px 30px 5px #eed00c;
}

body .textoperfil::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -45px;
    left: 40px;
    background-color: #eed00c;
    z-index: -1;
}

body .textoperfil h2{
    margin: 1.50rem 0;
}

body .title {
    margin: 4rem 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

body #mas-sobremi{
    width: 100%;
    height: 125.20rem;
}

body .containersobremi{
    position: relative;
    width: 55%; 
    margin: auto;
    flex-wrap: wrap;
}

body #acercaDeMi::after{
    content: "";
    position: absolute;
    left: 32%;
    width: .40rem;
    height: 123.20%;
    background-color:#eed00c;
    z-index: 9;
    top: 0%;
}

body #acercaDeMi{
    position: relative;
}

body .contenedor1{
    position: relative;
    padding: 0;
    padding-right: .40rem;
}

body .contenedor2{
    position: relative;
    top: 50px;
    padding: 0;
}

body .title1 {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #eed00c;
    font-size: 30px;
    font-weight: 500px;
}

body .imagen1{
    height: 10rem;
    position: relative;
    top: 10%;
    background-color: #191E24;
}

body .texto1{
    height: 14rem;
    position: relative;
    top: 10%;
    border-bottom: .40rem solid #eed00c;
    background-color: #ffffff;    
}

body .texto1 p {
    padding: 1rem;
    font-size: 30px;
}

body #miEnfoque{
    position: relative
}

body #miEnfoque::after{
    content: "";
    position: absolute;
    right:  32.08%;
    width: .40rem;
    height: 136.70%;
    background-color: #eed00c;
    z-index: 9;
    top: 23.30%;
}

body .contenedor3{
    position: relative;
    padding: 0;
    top: 5.50rem;
    padding-left: .40rem;
}

body .contenedor4{
    position: relative;
    top: 11rem;
    padding: 0;
}

body .title2 {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #eed00c;
    font-size: 30px;
    font-weight: 500px;
}

body .imagen2{
    height: 7rem;
    position: relative;
    top: 10%;
    background-color: #191E24;
}

body .texto2{
    height: 15rem;
    position: relative;
    top: 10%;
    border-bottom: .40rem solid #eed00c;
    background-color: #ffffff;   
    font-size: 10%;
}

body .texto2 p {
    padding: 8px 1rem;
    font-size: 23px;
}

body #misHabilidades{
    position: relative
}

body #misHabilidades::after{
    content: "";
    position: absolute;
    left:  32.08%;
    width: .40rem;
    height: 30.35rem;
    background-color: #eed00c;
    z-index: 9;
    top: 56.20%;
}

body .contenedor5{
    position: relative;
    padding: 0;
    top: 13rem;
    padding-right: .40rem;
}

body .contenedor6{
    position: relative;
    top: 18rem;
    padding: 0;

    & img {
        display: inline-block;
        max-width: 5rem;
        max-height: 5rem;
        margin: 1rem;
    }
}

body .title3 {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #eed00c;
    font-size: 30px;
    font-weight: 500px;
}

body .imagen3{
    height: 8rem;
    position: relative;
    top: 10%;
    background-color: #191E24;
}

body .texto3{
    height: 15rem;
    position: relative;
    top: 10%;
    border-bottom: .40rem solid #eed00c;
    background-color: #ffffff;    
}

body .texto3 p {
    padding: 8px 1rem;
    font-size: 20px;
}

body #educacion{
    position: relative
}

body #educacion::after{
    content: "";
    position: absolute;
    right:  32.10%;
    width: .40rem;
    height: 121.98%;
    background-color: #eed00c;
    z-index: 9;
    top: 49%;
}

body .contenedor7{
    position: relative;
    padding: 0;
    top: 25rem;
}

body .contenedor8{
    position: relative;
    top: 20rem;
    padding: 0;
    padding-left: .40rem;
}

body .title4 {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #eed00c;
    font-size: 30px;
    font-weight: 500px;
}

body .imagen4{
    height: 8rem;
    position: relative;
    top: 10%;
    background-color: #191E24;
}

body .texto4{
    height: 33rem;
    position: relative;
    top: 10%;
    border-bottom: .40rem solid #eed00c;
    background-color: #ffffff;    
}

body .texto4 p {
    padding: 8px 1rem;
    font-size: 21px;
}

/* Mis proyectos */

body #Mis-proyectos{
    width: 100%;
    position: relative;
}

.titleproyectos {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 7rem;
    top: 250px;
}

.titleproyectos h2{
    color: #ffffff;
    font-size: 36px;
    margin: 3rem;
}

.containerproyectos{
    position: relative;
    width: 80%;
    margin-left: 8rem;
    top: 100px;
    padding: 100px 0;
    margin-top: 80px;
    margin-bottom: 4rem;
}

.center {
    width: auto;
}

.card-proyectos img{
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 30px; 
    border: 4px solid #eed00c;
}

.card-proyectos:hover {
    transform: scale(1.1);
}

/* Carousel */

.containercarousel{
    width: 90%;
    margin-left: 5rem;
    padding-bottom: 80px;
}

/* Footer */

#pie-pagina {
    width: 100%;
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        transition: 0.4s;
    }
}

.redes-sociales a:hover{
    transform: scale(1.1);
}

 footer img {
    display: inline-block;
    max-width: 5rem;
    max-height: 5rem;
    margin: 1rem;
}

.copyright {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* TABLET */
@media screen and (min-width:768px) and (max-width:1024px){

        
    
}

/* SMARTPHONE */
@media screen and (min-width:320px) and (max-width:600px){
        #encabezado .parte1 img{
            width: 90%;
        }

        #encabezado .parte2 p{
            display: flex;
            align-items: center;
        }

        #Perfil-profecional .textoperfil p{
            font-size: 20px;
        }

        #mas-sobremi .containersobremi{
            width: 70%;
            position: relative;
        }

        #mas-sobremi ::after{
            display: none;
        }

        #mas-sobremi {
            margin-bottom: 150px;
        }

        #mas-sobremi h2{
            padding-top: 80px;
        }

        #mas-sobremi {

            & .imagen1{
                height: 80px;
            }

            & .texto1{
                height: 200px;
            }

            & .contenedor1{
                bottom: -11px;
                padding: 0;
            }

            & .contenedor2{
                top: -30px;
            }

            & .imagen2{
                height: 80px;
            }

            & .contenedor3 {
                top: -270px;
                padding: 0;
                width: 100%;
            }

            & .contenedor5{
                top: 105px;
                padding: 0;
            }

            & .contenedor6{
                top: 60px;
                margin-bottom: 70px;
            }

            & .texto3, .texto2{
                height: 330px;
            }

            & .texto1, 
            .texto2,
            .texto3,
            .texto4 {
                font-size: 90%;
            }

            & .texto4 {
                height: 40000000px;
            }

            & .contenedor8{
                top: -430px;
                padding: 0;
            }

            & .contenedor7{
                position: relative;
                top: 50px;
                top: 175px;
                padding: 0;
                margin: 0;
            }

            & .texto4 p{
                font-size: 17px;
            }

            & .texto4 {  
                height: 430px;
            }

            & .imagen4{
                height: 80px;
            }
                
            p {
                font-size: 20px;
            }
        }

        body #Mis-proyectos{
            padding-right: 100px;
        }    

        #Mis-proyectos{
            position: relative;
            top: 500px;
        }

        #Mis-proyectos{
            & .containerproyectos {
                margin: 0;
                padding: 0;
                position: relative;
                height: 800px;
                top: 0px;
                left: 20%;
            }
            
            & .titleproyectos{
                top: 0px;
                left: 9%;
                flex: none;
                padding: 0;
            }
        }

        .containercarousel {
            position: relative;
            top: 900px;
            padding: 0;
            margin: 0;
            left: 5%;
        }

        footer {
            position: relative;
            top: 950px;
        }
}